<h1>Hey There <%= current_user.name %>.

<h2>Join an organisation</h2>
<p>You aren’t a member of any organisation. Join an existing one or create a new one to join.</p>


<h2>Organisations</h2>


<h2>Create an organisation</h2>
